@page
@model Costea_Maria_ClaudiaBakeryShop.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ExpireDate" class="control-label"></label>
                <input asp-for="Product.ExpireDate" class="form-control" />
                <span asp-validation-for="Product.ExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.AdressID" class="control-label">Adress Name</label>
                <select asp-for="Product.AdressID" class="form-control" asp-items="ViewBag.AdressID">
                </select>
                <span asp-validation-for="Product.AdressID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.QuantityID" class="control-label">Quantity Name</label>
                <select asp-for="Product.QuantityID" class="form-control" asp-items="ViewBag.QuantityID">
                </select>
                <span asp-validation-for="Product.QuantityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CityID" class="control-label">City Name</label>
                <select asp-for="Product.CityID" class="form-control" asp-items="ViewBag.CityID">
                </select>
                <span asp-validation-for="Product.CityID" class="text-danger"></span>
            </div>
            <div class="form-group">
 <div class="table">
 <table>
 <tr>
 @{
 int cnt = 0;
 foreach (var cat in Model.AssignedCategoryDataList)
 {
 if (cnt++ % 3 == 0)
{
@:</tr><tr>
 }
 @:<td>
 <input type="checkbox" name="selectedCategories" value="@cat.CategoryID" @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
 @cat.CategoryID @: @cat.Name
 @:</td>
 }
 @:</tr>
 }
 </table>
 </div>
 </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
